<%- include('../partials/header') %>

<main class="container watch-main">
  <div class="watch-wrapper">
    <h1 class="watch-title">Enjoy!!</h1>
    <iframe
      src="https://moviesapi.to/tv/<%= id %>-<%= season %>-<%= episode %>"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="watch-frame"
    ></iframe>
    <div class="watch-controls">
      <a href="/movies/<%= id %>">
        <button class="cta-btn watch-back-btn">Go Back</button>
      </a>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
