<%- include('../partials/header') %>

<link rel="stylesheet" href="/css/discover.style.css" />
<main class="container" style="align-items: stretch">
  <div class="inside">
    <form method="GET" action="/movies" class="search-form">
      <input
        type="text"
        name="query"
        placeholder="Search by Title"
        value="<%= query %>"
        class="search-input"
      />
      <button type="submit" class="cta-btn" style="margin-top: 0">
        Search
      </button>
    </form>
    <div class="discover-grid">
      <% movies.forEach(function(movie) { %>
      <a href="/movies/<%= movie.id %>" class="discover-card-link">
        <div
          class="discover-card"
          style="
            background: url(https://image.tmdb.org/t/p/original<%= movie.poster_path %>)
                center/cover,
              #64646e;
          "
        >
          <div class="card-overlay"></div>
          <div class="card-title"><%= movie.original_title %></div>
          <div class="card-subtitle"><%= movie.release_date %></div>
          <div class="card-chip"><%= movie.vote_average %> / 10</div>
        </div>
      </a>
      <% }); %>
    </div>
    <div class="pagination">
      <% if (page > 1) { %>
      <button class="cta-btn">
        <a class="btn-text" href="/movies?page=<%= Number(page) - 1 %>"
          >Previous</a
        >
      </button>
      <% } %> <% if (page < lastPage) { %>
      <button class="cta-btn">
        <a class="btn-text" href="/movies?page=<%= Number(page) + 1  %>"
          >Next</a
        >
      </button>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
